<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/fragments/header.css}">
<link rel="stylesheet" th:href="@{/css/admin/employees.css}">
<title>Starter Security App</title>

</head>
<body>

	<div th:replace="~{fragments/header}">This content will be gone</div>
	<!-- Main layout -->
	<main>
		<section class="headline">
			<h1>Admin Panel</h1>
			<p></p>
		</section>
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Emp_Id</th>
					<th scope="col">Email</th>
					<th scope="col">Name</th>
					<th scope="col">Roles</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="emp: ${employeesVm}">
					<td th:text="${emp.getEmpId()}" />
					<td th:text="${emp.getEmail()}" />
					<td th:text="${emp.getName()}" />
					<td th:text="${emp.getRoles()}" />
					<td><a href="#" class="btn btn-primary"  >Update</a></td>
					<td><a href="#" class="btn btn-danger"  >Delete</a></td>
				</tr>
			</tbody>
		</table>
		<table>

		</table>
	</main>

	<div th:replace="~{fragments/footer}">This content will be gone</div>
	<!--Main layout-->
	<script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
	<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>